body  {
  width: 100%;
  height: 100%;
  font-family: Inconsolata;
  font-size: 18px;
}

a {
  color: #5e5e5e;
  font-size: 18px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #363434;
}

.right {
  right: 0;
  background-color: #363434;
}

.centered {
  width: 90%;
  height: 90%;
  margin: auto;
}

textarea {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 5px;
  background-color: #242020;
  color: #5e5e5e;
  font-family: inherit;
  font-size: inherit;
  border: none;
  resize: none;
  outline: none;
  overflow: auto;
}

.outputField  {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 5px;
  background-color: #2b2929;
  color: #5e5e5e;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  white-space: pre-line;
  overflow: auto;
}


.tryBtn {
  width: auto;
  margin-top: 10px;
  padding: 7px;
  font-size: 12px;
  color: #ffffff;
  background-color: #f44336;
  opacity: 0.7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.tryBtn:hover {opacity: 1}
.tryBtn:active {
  background-color: #d62e22;
}
.tryBtn:focus {outline:0;}

.charPlus {
  color: #00805a;
}
.charMinus {
  color: #d10000;
}